/* RESET */


img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: #1abc9c;
}

p {
    margin-bottom: 0;
}

/* COMMON */
body {
    font-weight: 500;
    font-size: 1.3rem;
}

.ms_container {
    width: 60%;
    max-width: 1170px;
    margin: 0 auto; 
}

.ms_container-ft {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto; 
}

section,
footer > * {
    padding: 3.5rem 0;
}

.btn {
    font-weight: 600;
}

.form-floating > label {
    padding-left: 0;
}

.form-floating > textarea {
    min-height: 12rem;
}

/* HEADER */
header {
    height: 100px;
    background-color: #2c3e50;
    color: white;
    text-transform: uppercase;
}

header .row > div > * { /* Qualsiasi sotto-elemento di .col* */
    margin-bottom: 0;
}

header .row .ms_brand { 
    font-size: 1.2rem;
    font-weight: 700;
}

header .row .burger-menu { 
    font-size: 1.8rem;
}

header nav {
    text-align: right;
}

header nav .main-menu ul li {
    margin-left: 1.5rem;
    display: inline;
}


/* MAIN */

/* MAIN: COMMON */
#ms_about,
#ms_contact_me {
    padding-bottom: 2rem;
}

section.bg_green {
    background-color: #1abc9c;
    color: white;
}

.section-header {   
    text-align: center;
    margin-bottom: 1.5rem;
}

.ms_star {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.ms_star::before,
.ms_star::after {
    content: '';
    display: inline-block;
    width: 3.5rem;
    height: 0.25rem;
    background-color: currentColor;
    vertical-align: super;
}

/* MAIN > Section - Jumbotron */
#ms_jumbotron {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2rem 0;
}

#ms_jumbotron img {
    width: 15.5rem;
    margin-bottom: 1rem;
}

#ms_jumbotron h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

/* MAIN > Section - Portfolio */
#portfolio .row .card-project {
    display: block;
    position: relative;
    transition: all 0.2s;
}

#portfolio .row .card-project::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1rem solid #1abc9c;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.2s;
}

#portfolio .row .card-project:hover::after {
    opacity: 1;
}

#portfolio .row .card-project img {
    border-radius: 10px;
}    

/* MAIN > Section - About */
#ms_about .download {
    text-align: center;
    margin-top: 1rem;
}

#ms_about button {
    margin: 3rem auto 0;
    display: block;
}

#ms_about button:hover {
    color: #1abc9c;
}

/* MAIN > Section - Contact Me */
#ms_contact_me form {

    /* TEST - Per compensare il padding degli elementi sopra. Questo non ce l'ha perchè non è stato inserito nel sistema di .row > .col. Dopo aver inserito il blocco-form di bootstrap provare a vedere se lasciarlo o rimuoverlo. */
    padding: 0 12px;
}

#ms_contact_me form > * {

    /* TEST - Dopo avere inserito il blocco-form di bootstrap, si può eliminare */
    display: block;
    width: 100%;
}

#ms_contact_me form input,
#ms_contact_me form textarea {
    border: none;
    border-bottom: 2px solid #e5e5e5;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 3rem 0 1.3rem;
}

#ms_contact_me form input:focus,
#ms_contact_me form textarea:focus {
    box-shadow: none;
}

#ms_contact_me form button {
    background-color: #1abc9c;
    display: inline;
    width: auto;
    border-radius: 7px;
    margin-top: 1rem;
}

#ms_contact_me form button:hover {
    background-color: transparent;
    border-color: #1abc9c;
    color: #1abc9c;
}

/* FOOTER */
footer {
    text-align: center;
    color: white;
}

#footer-top {
    background-color: #3a546d;
    font-size: 1.25rem;
}

#footer-top h3 {
    font-size: 1.1rem;
}

#footer-top ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#footer-top ul li a {
    display: inline-block;
    border: 1px solid white;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    line-height: 3.3rem;
    font-size: 1.3rem;
    margin: 0 0.3rem 0.6rem;
    transition: all 0.2s;
}    

#footer-top ul li a:hover {
    background-color: white;
    border-color: white;
    color: #3a546d;
}

#footer-top a.bs-link {
    color: #1abc9c;
}

#footer-top a.bs-link:hover {
    text-decoration: underline;
}

#footer-bottom {
    background-color: #2c3e50;
    font-size: 0.9rem;
    padding-top: 2.5rem; 
}


/******************** 
    MEDIA QUERIES 
********************/

/******** Medium - ≥768px ********/
@media screen and (min-width: 768px) {

/* COMMON */
#ms_jumbotron,
footer > * {
    padding: 4rem 0;
}

/* HEADER */ 
header .row .ms_brand { 
    font-size: 1.7rem;
}
header .row .main-menu { 
    font-size: 1.1rem;
    font-weight: 500;
}

/* MAIN */
/* MAIN: COMMON */
section {
    padding: 5rem 0 6rem;
}
    
.ms_star::before,
.ms_star::after {
    width: 9rem;
    margin: 0 1rem;
}


/* MAIN > Section - Jumbotron */
#ms_jumbotron {
    font-size: 1.6rem;
}

#ms_jumbotron h1{
    font-size: 4rem;
}

/* MAIN > Section - Portfolio */
.section-header h2 {   
    font-size: 3.2rem;
}

/* FOOTER */
#footer-top h3 {
    font-size: 1.7rem;
}

}

/******** Large - ≥992px ********/
@media screen and (min-width: 992px) {

/* COMMON */

/* MAIN */
/* MAIN > Section - About */
#ms_about, #ms_contact_me {
    padding-bottom: 4rem;
}



}

/******** XX-Large - ≥1400px ********/
@media screen and (min-width: 992px) {
    
/* COMMON */

/* body {
    font-size: 1.5rem;
} */

.ms_container {
width: 70%;
}

}